:root {
  --black-a08: rgba(0, 0, 0, 0.08);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 10px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined), 0px 4px 9px;
}

.navbar {
  padding: 7px 0;
  width: 100%;
  background-color: rgb(109, 161, 238);
  box-shadow: var(--elevation-raised);
  border: none;
}

.container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.navbar__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.GIhambuger{
  height: auto;
  width: 2rem;
}

.navbar__top form {
  position: relative;
  width: 30vw;
  padding: 0 15px;
}
.navbar__top form img {
  position: absolute;
  height: 60%;
  top:10px;
  right: 0px;
  padding: 0;
  margin: 0;
}
.navbar_input {
  padding: 15px ;
  border: 0;
  border-radius: 2rem;
  width: 30vw;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
}
.navbar__button {
  margin: auto 0;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__button:hover{
  cursor: pointer;
}
.navbar__buttonlogo{
   height: 3rem;
   width: 4rem;
   background-color: transparent;
   border: none;
}
.navbar__img {
   height: 100%;
   width: 100%;
   background-size: cover;
   transform: scale(2)

}
.navbar__ammout {
  width: 1.5rem;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  margin-left:.5rem ;
}

.FaCard{
  height: 100vh;
  width: 80%;
}
.navbar__inputbutton__search {
  width: 4rem;
  padding: 10px;
  text-align: center;
  border: 0;
  color: #fff;
  border-radius: 4rem;
  background-color: rgb(228, 96, 20);
  font-size: 1rem;
  font-weight: bold;
}

.navbar__buttonloginandlogout  button {
  padding: 5px 20px;
  border-radius: 2rem;
  background-color: #000;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: red;
  align-self: center;
}

.navbar__buttonloginandlogout button:hover {
  opacity: .5;
  cursor: pointer;
}
.list {
  text-decoration: none;
}
.navbar__user p{
 display: inline-block;
 color: red;
}